html, body {
    overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #95a5ad;
}
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}
header {
  background: url(../img/bg-header.png) no-repeat;
  background-size: cover;
  height: 100vh;
}
.nav-white {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px 0;
}
.header-link {
  margin-right: 30px;
  text-transform: uppercase;
}
.logo {
  margin-right: 90px;
}
@media only screen and (max-width: 992px) {
  .header-link {
    margin: 10px 0;
    color: #000;
  }
}
.navbar-toggler-icon {
  color: #000;
}
.header-link:after {
  content: '';
  display: block;
  height: 2px;
  background-color: #36aeea;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
}
.header-link:hover::after {
  transform: scaleX(1);
}
.btn {
  background-color: inherit;
  border: 1px solid #36aeea;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .15em;
}
.header-button {
  margin-left: auto;
  color: #36aeea;
  padding: 7px 45px;
  transition: all .4s ease-in-out;
}
.header-button:hover {
  color: #fff;
  background-color: #36aeea;
  transition: all .4s ease-in-out;
}
.main-screen {
  margin-top: 185px;
}
.main-screen-img {
  width: 100%;
}
.main-button {
  color: #fff;
  padding: 10px 55px;
  background-color: #36aeea;
  transition: all .2s ease-in-out;
}
.main-button:hover {
  color: #fff;
  background-color: #2a96cc;
  border-color: #2a96cc;
  box-shadow: 0 0 10px 1px #36aeea;
  transition: all .2s ease-in-out;
}
.main-text {
  margin: 20px 0 30px;
  color: #ccc;
  width: 90%;
}
/* About Section */
.about {
  background-color: #f6f4f4;
  padding: 20px 0 230px;
  position: relative;

}
.about-cont {
  background: url(../img/map.png) no-repeat;
  background-position: 100px top;
  background-size: 80% 80%;
}
.about-block {
  margin-top: 180px;
  padding: 30px 30px;
}
.about-title {
  font-size: 20px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}
.about-text {
  margin: 30px 0;
  font-weight: 700;
}
.about-button {
  padding: 10px 25px;

}
.friends-block {
  margin-top: -40px;
  position: relative;
  height: 560px;
  width: 800px;
}
.friends-img {
  height: 100%;
  width: 100%;
}
.feet-block {
  position: absolute;
  top: 49%;
  left: -5%;
  z-index: 1;
}
.feet-img {
  width: 100%;
}
@media only screen and (max-width: 770px) {
  .about-cont {
    background: none;
  }
  .about {
    background: url('../img/media-bg.png');
    background-size: cover;
  }
  .friends-block {
    display: none;
  }
  .feet-block {
    display: none;
  }
  .about-title {
    color: #fff;
  }
  .about-text {
    color: #fff;
  }
  .about-block {
    background: url('../img/forest-bg.jpg') no-repeat;
    background-size: cover;
    /* background-color: rgba(255, 255, 255, 0.7); */
    box-shadow: 0 0 10px 2px #4b4b4b;
  }
}
/* Our Journal Section */
.journal {
  padding-bottom: 90px;
}
.journal-header {
  padding: 40px 0;
}
.journal-title {
  margin: 10px 0 40px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
}
.journal-body-block {
  padding: 30px 0;
  height: 380px;
  display: table;
}
.journal-body-block-inner {
  display: table-cell;
  vertical-align: middle;
}
.journal-img-block img {
  width: 100%;
}
.journal-body-block-title {
  font-size: 12px;
  color: #36aeea;
  font-weight: 700;
  margin: 0 0 30px 0;
  text-transform: uppercase;
}
.journal-body-block-subtitle {
  font-size: 17px;
  font-weight: 700;
  width: 75%;
  margin: 0 auto;
  text-transform: uppercase;
  color: #000;
}
.overwrite {
  text-decoration: line-through;
}
.journal-body-block-text {
  margin: 30px auto;
  width: 68%;
  font-size: 14px;
}
.journal-body-block-number {
  color: #000;
  font-style: italic;
  font-size: 12px;
  display: block;
}
.journal-grid {
  box-shadow: 0 0 15px 4px #ebebeb;
}
/* Tree Section */
.tree {
  padding: 140px 0 240px;
  background: url('../img/tree.png');
}
.tree-form {
  position: relative;
  margin-top: 30px;
}
.tree-title {
  margin-bottom: 20px;
}
.tree-input {
  border: none;
  height: 50px;
  padding: 0 10px;
  font-size: 16px;
  width: 50%;
}
.tree-second-input {
  margin-left: -5px;
  padding-left: 20px;
}
.vr {
  display: inline-block;
  border-left: 1px solid #ccc;
  width: 1px;
  height: 30px;
  position: absolute;
  top: 10px;
}
.tree-button {
  display: inline;
  margin-left: -15px;
  margin-top: 30px;
}
@media only screen and (max-width: 770px)  {
  .tree-button {
    margin-left: 0;
    margin-top: 100px;
  }
}
.tree-data {
  padding-left: 25px;
  background: url('../img/Lock.png') left center no-repeat;
  color: #36aeea;
  font-size: 14px;
  position: absolute;
  top: 60px;
}
.tree-data-text {
  margin: 0;
}
